%nav-link-highlght {
    border-radius: 2em;
    background: map-get($map: $colors, $key: "blue");
    color: map-get($map: $colors, $key: "white");
    box-shadow: inset 100px 0 0 0 #e0e0e0;
}

%space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.space-between {
    @extend %space-between;
}
