%nav-link-highlght {
    border-radius: 2em;
    background: map-get($map: $colors, $key: "blue");
    color: map-get($map: $colors, $key: "white");
    box-shadow: inset 100px 0 0 0 #e0e0e0;
}

%space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

%remove-background-color {
    background: map-get($map: $colors, $key: "white");
}

%remove-bottom-border {
    border-bottom: none;
}

%cursor-pointer {
    cursor: pointer;
}

.space-between {
    @extend %space-between;
}

.remove-bg-color {
    @extend %remove-background-color;
}

.remove-bottom-border {
    @extend %remove-bottom-border;
}

.pointer {
    @extend %cursor-pointer;
}
